:root {
    --radius_size: 20px;
    --negative_radius_size: calc(-1 * var(--radius_size));
  }
  
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.wrapper {
  background: red;
  height: auto;
  margin: 0 10vh;
  font-size: 2.5rem;
}

header {
  width: 100%;
  height: 6.3vh;
  background: orange;
  display: flex;
  justify-content: center;
  align-items: top;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header_title {
  background: blue;
}

main {
  background: green;
  width: 100%;
  padding: 0 1rem 1rem;
}

.image {
  background: burlywood;
  width: 100%;
  height: 30vh;
  position: sticky;
  top: 6.3vh;
}

.title {
  background: purple;
  width: 100%;
  height: calc(6.3vh - var(--radius_size));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius_size) var(--radius_size) 0 0;
  position: sticky;
  top: 6.3vh;
  z-index: 3;
}

.cancel_radius {
  background: lime;
  width: 100%;
  height: 20px;
  position: sticky;
  top: calc(6.3vh + var(--radius_size));
  transform: translateY(var(--negative_radius_size));
  z-index: 2;
}

.cards {
  background: pink;
  width: 100%;
  padding: 0 0 0 1rem;
  margin-top: var(--negative_radius_size);
  position: sticky;
  z-index: 1;
}

footer {
  width: 100%;
  background: grey;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: top;
}

  